.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(128, 197, 149);
    margin-bottom: 25px;
}

.right-side {
    display: flex;
}

.left-side {
    display: flex;
    align-items: center;
}